.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
  cursor: pointer;
}

.page-item.active {
  font-weight: bold;
}

.page-item:hover {
  text-decoration: underline;
}

