:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

[data-theme="dark"] {
    --backgeound-color: #121212;
    --text-color: #ffffff; 
}

body {
    backgeound-color: var(--backgeound-color);
    color: var(--text-color);
    transition: backgeound-color 0.3s ease, color 0.3s ease;
}
