@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg: #ffffff;
  --header-text: #000000;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --header-bg: #000000;
  --header-text: #ffffff;
}

html.light {
  background-color: #fff;
  color: #000;
}

/* Dark Theme */
html.dark {
  background-color: #121212;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make sure body fills the full width of the viewport */

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background 0.3s,
    color 0.3s;
  width: 100%;
  min-height: 100vh;
}

/* Button Styling */
.theme-toggle {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: var(--text-color);
  color: var(--bg-color);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.theme-toggle:hover {
  opacity: 0.8;
}
